body{
    font-family: Helvetica;
}

h1{
    /* color: steelblue; */
    font-size: 25pt;
}


button{
    font-family: Helvetica;
}

input{
    font-family: Helvetica;
}

.delayed{
    color: white;
}

.canceled{
    color: red;
}

.warning{
    color: red;
}

.signup {
    width: 300px;
    clear: both;
  }
  
.signup input {
    width: 100%;
    clear: both;
}

.login {
    width: 300px;
    clear: both;
  }
  
.login input {
    width: 100%;
    clear: both;
}

.container {
    position: relative;
  }

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }