{% extends 'base.html'%}
{% block head %}
<style>
    h1{
        text-align: center;
    }
    body{
        background-color: rgba(255, 112, 67,0.15);
    }
    button{
        height: 30px;
        width: 150px;
        border-radius: 5%;
        margin: 10px auto;
        background-color: transparent;
        border: 2px solid black;
        color: black;
        font-size: medium;
        cursor: pointer;
        /* position:relative;
        left:40em; */
    }
</style>
<title> Purchase Details </title>
{% endblock %}
{% block body %}
    <h1> Purchase Details </h1>

    <button onclick = "window.location.href='/customer_availableflights';">Back</button> 

    {% if error %}
    <p class=warning> There is an error proccessing your order. <br>
        Please check the information and try again.
    </p>
    {% endif %}

    {% if data %}
    <table style="width:100%">
        <tr>
            <th>Airline</th>
            <th>Fight Number</th>
            <th>Departure Airport</th>
            <th>Departure Time</th>
            <th>Arrival Airport</th>
            <th>Arrival Time</th>
            <th>Price</th>
            <th>Total Seats</th>
            <th>Available Seats</th>
        </tr>
        {% for row in data %}
        <tr>
            {% for key, value in row.items() %}
                <th> {{ value }} </th>
            {% endfor %}
        </tr>
        {% endfor %}
    </table> 
    {% else %}
        <p class=warning> Something is wrong.. </p>  
    {% endif %}

    <h2> Additional Information </h2>
    <div>
        <form action="/customer_availableflights_purchase_go" method="POST">
            Quantity: 
            <input type="number" id="quantity" name="quantity" value = 1 min="1" max={{data[0]["available_seats"]}} required> <br>
            I agree to the <span style="font-style: italic;"> Service Agreement </span> 
            <input type="checkbox" required> <br>
            <input type="hidden" name="data" value="{{data[0]}}">
        <button type="submit">Submit Order</button>
        </form>
    </div>
{% endblock %}
