{% extends 'base.html'%}
{% block head %}
<style>
    h1{
        text-align: center;
    }
    body{
        background-color: rgba(255, 112, 67,0.15);
}
button{
      height: 30px;
      width: 150px;
      border-radius: 5%;
      margin: 10px auto;
      background-color: transparent;
      border: 2px solid black;
      color: black;
      font-size: medium;
      cursor: pointer;
      /* position:relative;
      left:40em; */
  }
</style>
<title> Thank You </title>
{% endblock%}
{% block body %}
<h1 style="font-size:500%;"> THANK YOU </h1>
<p> The purchase has been successfully made.<br>
    You can find a record of your purchases under "My Flights".  </p>

<button onclick = "window.location.href='../customer_home';">Back</button> 

{% endblock%}