{% extends 'base.html'%}
{% block head %}
<style>
    h1{
        text-align: center;
    }
    body{
        background-color: rgba(58, 179, 255,0.15);
}
button{
      height: 30px;
      width: 150px;
      border-radius: 5%;
      margin: 10px auto;
      background-color: transparent;
      border: 2px solid black;
      color: black;
      font-size: medium;
      cursor: pointer;
      position:relative;
      left:40em;
  }
    /* #myChart{
     width:"200px"   
    } */
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<title> Customer Home </title>
{% endblock%}
{% block body %}
<h1> Hello, Customer {{session["name"]}}. {{greet}}</h1>

<button onclick = "window.location.href='/customer_logout';" id="logout" style="position:relative;left:40em;">Log Out</button>

<h2> My Upcoming Flights</h2>

{% if data %}
<table style="width:80%">
    <tr>
        <th>Airline</th>
        <th>Fight Number</th>
        <th>Departure Airport</th>
        <th>Departure Time</th>
        <th>Arrival Airport</th>
        <th>Arrival Time</th>
        <th>Price</th>
        <th>Status</th>
        <th>Ticket ID</th>
        <th>Purchase Date</th>
    </tr>
    {% for row in data %}
    <tr>
        {% for key, value in row.items() %}
                <th> {{ value }} </th>
        {% endfor %}
    </tr>
    {% endfor %}
</table> 
{% else %}
    <p> Nothing to show here.. </p>  
{% endif %}

<button onclick = "window.location.href='/customer_myflights';">See All My Flights</button>

<h2> Search for Flights / Purchase Tickets</h2>

<button onclick = "window.location.href='/customer_availableflights';"> See All Available</button>

<h2> Track My Spending </h2>

{% if spendings %}

    <p> My spending in the past 12 months: <span style="font-weight: bold;" id="spending_12m"></span></p>
    <p> My spending in the selected interval: <span style="font-weight: bold;" id="spending_select"></span></p>

    <!-- input type="month" works as a text input on Firefox where month should be input as plain text -->
    <input type="month" id="start" name="start" value={{past6m}}>
    <input type="month" id="end" name="end" value={{now}}>

    <p id="error" class="warning"></p>
<!-- Ncs62886969@ -->
    <!-- Script for sum of spendings and the bar chart -->
    <canvas id="myChart" style='width:300px;height:80px'></canvas>
    <script>
        Chart.scaleService.updateScaleDefaults('linear', {ticks: {min: 0}});
        var months = {{months}};
        var spendings = {{spendings}};
        var year_total = 0;
        
        // Year total
        for (var i = Math.max(months.length - 12, 0); i < months.length; i++) {
            year_total += spendings[i];
        }
        document.getElementById("spending_12m").innerHTML = year_total;
        
        // Total of the select range
        chart = make();

        document.getElementById("start").oninput = function(){update(chart);};
        document.getElementById("end").oninput = function(){update(chart);};
        

    function make(){
        let select_total = 0;
        let start = document.getElementById("start").value;
        let end = document.getElementById("end").value;
        let y, m;
        let select_months = [];
        let select_spendings = [];

        try{start_year = +start.slice(0,4);
            start_month = +start.slice(5,7);
            end_year = +end.slice(0,4);
            end_month = +end.slice(5,7);

            if (start_year*100+start_month>end_year*100+end_month){
                throw "error";
            }

            y = start_year;
            m = start_month;
            
            while (y*100+m <= end_year*100+end_month){
                select_months.push(y+"-"+m);
                select_spendings.push(0);
                for (var i = 0; i < months.length; i++) {
                    if (months[i] === y*100+m){
                        select_spendings[select_spendings.length-1] = spendings[i];
                        select_total += spendings[i];
                    }
                }
                m += 1;
                if (m==13){
                    m = 1;
                    y += 1;
                }
            }
            document.getElementById("spending_select").innerHTML = select_total;

            // The bar chart
            var ctx = document.getElementById('myChart').getContext('2d');
            // ctx.style.width  = '100px';
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',

                // The data for our dataset
                data: {
                    labels: select_months,
                    datasets: [{
                        label: 'monthly spending',
                        backgroundColor: 'white',
                        borderColor: 'white',
                        data: select_spendings
                    }]
                },

                // Configuration options go here
                options: {
                    title: {
                    display: true,
                    text: 'Monthly Spendings',
                    fontSize: 20,
                    } ,
                    animation: { duration: 2}   
                }
        });}
        catch{
            document.getElementById("error").innerHTML = "Error. Please check your input.";
        }
        finally{}
        return chart;
    }
    function update(chart){
        let select_total = 0;
        document.getElementById("error").innerHTML = "";
        let start = document.getElementById("start").value;
        let end = document.getElementById("end").value;
        let y, m;
        let select_months = [];
        let select_spendings = [];

        try{start_year = +start.slice(0,4);
            start_month = +start.slice(5,7);
            end_year = +end.slice(0,4);
            end_month = +end.slice(5,7);

            if (start_year*100+start_month>end_year*100+end_month){
                throw "error";
            }

            y = start_year;
            m = start_month;
            
            while (y*100+m <= end_year*100+end_month){
                select_months.push(y+"-"+m);
                select_spendings.push(0);
                for (var i = 0; i < months.length; i++) {
                    if (months[i] === y*100+m){
                        select_spendings[select_spendings.length-1] = spendings[i];
                        select_total += spendings[i];
                    }
                }
                m += 1;
                if (m==13){
                    m = 1;
                    y += 1;
                }
            }
            document.getElementById("spending_select").innerHTML = select_total;

            // The bar chart
            chart.data.labels = select_months;
            chart.data.datasets[0].data = select_spendings;
            chart.update()
            
        }
        catch{
            document.getElementById("error").innerHTML = "Error. Please check your input.";
        }
        finally{}
    }
    </script>

{%else%}
    <p> Nothing to show here.. </p>  
{%endif%}
{% endblock%}