{% extends 'base.html'%}
{% block head %}
<style>
    h1{
        text-align: center;
    }
    body{
        background-color: rgba(255, 112, 67,0.15);
}
button{
      height: 30px;
      width: 150px;
      border-radius: 5%;
      margin: 10px auto;
      background-color: transparent;
      border: 2px solid black;
      color: black;
      font-size: medium;
      cursor: pointer;
      /* position:relative;
      left:40em; */
  }
</style>
    <title> Create New Flights </title>
{% endblock%}
{% block body %}
    <h1> Create a New Flight </h1>

    <button onclick = "window.location.href='../staff_home';">Staff Home</button> 

    <!-- Warning if there is an error in inserting the new flight -->
    {% if error %}
    <p class="warning"> There is an error with the request. Please check your input.<p>
    {% endif %}
    {% if success %}
    <p style="color: seagreen;"> Operation success.<p>
    {% endif %}
    <!-- Registration Form -->
    <div class="signup">
        <form action="/staff_addflight_go" method="POST">
        <label for="airline">Airline: <br>{{airline}}</label>
        <input type="hidden" name="airline" value='{{airline}}' required><br>
        <label for="flight_num">Flight Number:</label>
        <input type="number" name="flight_num" value='{{flight_num[0]["MAX(flight_num)"]}}' required><br>
        <label for="departure_airport">Departure Airport:</label><br>
        <select type="method" name="departure_airport"> 
            {% for row in airports %}
            <option value='{{row["airport_name"]}}'>{{row["airport_name"]}}</option>
            {% endfor %}
        </select><br>
        <label for="departure_time">Departure Time:</label>
        
        <input type="datetime-local" name="departure_time" required><br>
        <label for="arrival_airport">Arrival Airport:</label><br>
        <select type="method" name="arrival_airport"> 
            {% for row in airports %}
            <option value='{{row["airport_name"]}}'>{{row["airport_name"]}}</option>
            {% endfor %}
        </select><br>
        <label for="arrival_time">Arrival Time:</label>
        <input type="datetime-local" name="arrival_time" required><br>
        <label for="price">Price:</label>
        <input type="number" name="price" min=10 required><br>
        <label for="status">Status:</label><br>
        <select type="method" name="status">
            <option value="Upcoming">Upcoming</option>
            <option value="In progress">In Progress</option>
            <option value="Delayed">Delayed</option>
            <option value="Canceled">Canceled</option>
        </select><br>
        <label for="plane_id">Plane ID:</label><br>
        <select type="method" name="plane_id"> 
            {% for row in airplane_ids %}
            <option value='{{row["airplane_id"]}}'>{{row["airplane_id"]}}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Submit</button>
        </form>
    </div>
{% endblock%}