{% extends 'base.html'%}
{% block head %}
<style>
    h1{
        text-align: center;
    }
    body{
        background-color: rgba(255, 112, 67,0.15);
}
button{
      height: 30px;
      width: 150px;
      border-radius: 5%;
      margin: 10px auto;
      background-color: transparent;
      border: 2px solid black;
      color: black;
      font-size: medium;
      cursor: pointer;
      /* position:relative;
      left:40em; */
  }
</style>
    <title> My Flights </title>
{% endblock%}
{% block body %}
    <h1> My Flights </h1>

    <button onclick = "window.location.href='../staff_home';">Back</button> 

    <!-- Search bar: search by airport/city -->
    <div>
        <form action="/staff_myflights_search" method="POST">
        <input type="text" name="text" placeholder="Search by..." required>
        <select type="method" name="method"> 
            <option value="departure_city">source city</option>
            <option value="departure_airport">source airport</option>
            <option value="arrival_city">destination city</option>
            <option value="arrival_airport">destination airport</option>
            <option value="status">status</option>
            <option value="airplane_id">airplane ID</option>
        </select>
        <button type="submit">Search</button>
        </form>
    </div>
    
    <!-- Search bar: search by date -->
   <div>
        <form action="/staff_myflights_search" method="POST">
        <select type="method" name="method"> 
            <option value="departure_time">departure time</option>
            <option value="arrival_time">arrival time</option>
        </select>
        between:
        <input type="date" name="text" required>
        <input type="date" name="text2" required>
        <button type="submit">Search</button>
        </form>
    </div>

    <button onclick = "window.location.href='../staff_myflights';">Clear search</button> 

    <!-- Show flight information -->
    {% if data %}
    <table style="width:100%">
        <tr>
            <th>Airline</th>
            <th>Fight Number</th>
            <th>Departure Airport</th>
            <th>Departure Time</th>
            <th>Arrival Airport</th>
            <th>Arrival Time</th>
            <th>Price</th>
            <th>Status</th>
            <th>Airplane ID</th>
            <th>View Passengers / Change Status</th>
        </tr>
        {% for row in data %}
        <tr>
            {% for key, value in row.items() %}
                {% if value == "Delayed" %}
                    <th class="delayed"> {{ value }} </th>
                {% elif value == "Canceled" %}
                    <th class="canceled"> {{ value }} </th>
                {% else %}
                    <th> {{ value }} </th>
                {% endif %}
            {% endfor %}
            <td class="container">
                <form action="/staff_myflights_viewcustomers" method="POST" class="center">
                <button type="submit" name="data" value="{{row}}">Details</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table> 
    {% else %}
        <p> Nothing to show here.. </p>  
    {% endif %}
{% endblock%}