{% extends 'base.html'%}
{% block head %}
<style>
    h1{
        text-align: center;
    }
    body{
        background-color: rgba(255, 112, 67,0.15);
}
button{
      height: 30px;
      width: 350px;
      border-radius: 5%;
      margin: 10px auto;
      background-color: transparent;
      border: 2px solid black;
      color: black;
      font-size: medium;
      cursor: pointer;
      position:relative;
      left:35em;
  }
    /* #myChart{
     width:"200px"   
    } */
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<title> Staff Home </title>
{% endblock%}
{% block body %}
<h1> Hello, staff {{session["username"]}}<br>
    of {{session["airline"]}}.</h1>

<button onclick = "window.location.href='/staff_logout';">Log Out</button>

<h2> Upcoming Flights </h2>

{% if data %}
<table style="width:100%">
    <tr>
        <th>Airline</th>
        <th>Fight Number</th>
        <th>Departure Airport</th>
        <th>Departure Time</th>
        <th>Arrival Airport</th>
        <th>Arrival Time</th>
        <th>Price</th>
        <th>Status</th>
        <th>Airplane ID</th>
    </tr>
    {% for row in data %}
    <tr>
        {% for key, value in row.items() %}
                <th> {{ value }} </th>
        {% endfor %}
    </tr>
    {% endfor %}
</table> 
{% else %}
    <p> Nothing to show here.. </p>  
{% endif %}

<button onclick = "window.location.href='/staff_myflights';">See All My Flights / Change Flight Status</button>

<h2> Create New Flights </h2>
<button onclick = "window.location.href='/staff_addflight';">Create New Flights</button>

<h2> Create New planes </h2>
<button onclick = "window.location.href='/staff_addplane';">Create New planes</button>

<h2> Create New Airports </h2>
<button onclick = "window.location.href='/staff_addairport';">Create New Airports</button>

<h2> Grant New Permissions </h2>
<button onclick = "window.location.href='/staff_addpermissions';">Grant New Permissions</button>

<h2> Top Customers</h2>
{% if customer_data %}
<h3>Most Frequent Customers (12 Months)</h3>
<table style>
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>#Flights</th>
    </tr>
    {% for row in customer_data %}
    <tr>
        {% for key, value in row.items() %}
                <th> {{ value }} </th>
        {% endfor %}
    </tr>
    {% endfor %}
</table> 
{% else %}
    <p> Nothing to show here.. </p>  
{% endif %}
<button onclick = "window.location.href='/staff_customers';">View All Customers</button>

<h2> Top Destinations </h2>
{% if destination_data %}
<h3>Most Popular Destinations (3 Months)</h3>
<table>
    <tr>
        <th>City</th>
        <th>#Tickets</th>
    </tr>
    {% for row in destination_data[0] %}
    <tr>
        {% for key, value in row.items() %}
                <th> {{ value }} </th>
        {% endfor %}
    </tr>
    {% endfor %}
</table> 
<h3>Most Popular Destinations (12 Months)</h3>
<table>
    <tr>
        <th>City</th>
        <th>#Tickets</th>
    </tr>
    {% for row in destination_data[1] %}
    <tr>
        {% for key, value in row.items() %}
                <th> {{ value }} </th>
        {% endfor %}
    </tr>
    {% endfor %}
</table> 
{% else %}
    <p> Nothing to show here.. </p>  
{% endif %}

<h2> Ticket Sales Report </h2>
{% if spendings %}

    <p> Number of tickets sold in the past 12 months: <span style="font-weight: bold;" id="spending_12m"></span></p>
    <p> Number of tickets sold in the selected interval: <span style="font-weight: bold;" id="spending_select"></span></p>

    <!-- input type="month" works as a text input on Firefox where month should be input as plain text -->
    <input type="month" id="start" name="start" value={{past6m}}>
    <input type="month" id="end" name="end" value={{now}}>

    <p id="error" class="warning"></p>

    <!-- Script for sum of spendings and the bar chart -->
    <canvas id="myChart" style='width:300px;height:80px'></canvas>
    <script>
        Chart.scaleService.updateScaleDefaults('linear', {ticks: {min: 0}});
        var months = {{months}};
        var spendings = {{spendings}};
        var year_total = 0;
        
        // Year total
        for (var i = Math.max(months.length - 12, 0); i < months.length; i++) {
            year_total += spendings[i];
        }
        document.getElementById("spending_12m").innerHTML = year_total;
        
        // Total of the select range
        chart = make();

        document.getElementById("start").oninput = function(){update(chart);};
        document.getElementById("end").oninput = function(){update(chart);};
        

    function make(){
        let select_total = 0;
        let start = document.getElementById("start").value;
        let end = document.getElementById("end").value;
        let y, m;
        let select_months = [];
        let select_spendings = [];

        try{start_year = +start.slice(0,4);
            start_month = +start.slice(5,7);
            end_year = +end.slice(0,4);
            end_month = +end.slice(5,7);

            if (start_year*100+start_month>end_year*100+end_month){
                throw "error";
            }

            y = start_year;
            m = start_month;
            
            while (y*100+m <= end_year*100+end_month){
                select_months.push(y+"-"+m);
                select_spendings.push(0);
                for (var i = 0; i < months.length; i++) {
                    if (months[i] === y*100+m){
                        select_spendings[select_spendings.length-1] = spendings[i];
                        select_total += spendings[i];
                    }
                }
                m += 1;
                if (m==13){
                    m = 1;
                    y += 1;
                }
            }
            document.getElementById("spending_select").innerHTML = select_total;

            // The bar chart
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',

                // The data for our dataset
                data: {
                    labels: select_months,
                    datasets: [{
                        label: 'monthly sales',
                        backgroundColor: 'black',
                        borderColor: 'black',
                        data: select_spendings
                    }]
                },

                // Configuration options go here
                options: {
                    title: {
                    display: true,
                    text: 'Monthly Sales',
                    fontSize: 20,
                    } ,
                    animation: { duration: 0 }   
                }
        });}
        catch{
            document.getElementById("error").innerHTML = "Error. Please check your input.";
        }
        finally{}
        return chart;
    }
    function update(chart){
        let select_total = 0;
        document.getElementById("error").innerHTML = "";
        let start = document.getElementById("start").value;
        let end = document.getElementById("end").value;
        let y, m;
        let select_months = [];
        let select_spendings = [];

        try{start_year = +start.slice(0,4);
            start_month = +start.slice(5,7);
            end_year = +end.slice(0,4);
            end_month = +end.slice(5,7);

            if (start_year*100+start_month>end_year*100+end_month || start_month==0 || end_month==0){
                throw "error";
            }

            y = start_year;
            m = start_month;
            
            while (y*100+m <= end_year*100+end_month){
                select_months.push(y+"-"+m);
                select_spendings.push(0);
                for (var i = 0; i < months.length; i++) {
                    if (months[i] === y*100+m){
                        select_spendings[select_spendings.length-1] = spendings[i];
                        select_total += spendings[i];
                    }
                }
                m += 1;
                if (m==13){
                    m = 1;
                    y += 1;
                }
            }
            document.getElementById("spending_select").innerHTML = select_total;

            // The bar chart
            chart.data.labels = select_months;
            chart.data.datasets[0].data = select_spendings;
            chart.update()
            
        }
        catch{
            document.getElementById("error").innerHTML = "Error. Please check your input.";
        }
        finally{}
    }
    </script>

    <canvas id="Pie1m" style='width:300px;height:80px'></canvas>
    <canvas id="Pie12m" style='width:300px;height:80px'></canvas>

    <script>
        var ctx = document.getElementById('Pie1m').getContext('2d');
        var data1m = {{breakdown[:2]}};

        var chart_pie1m = new Chart(ctx, {
            // The type of chart we want to create
            type: 'pie',

            // The data for our dataset
            data: {
                labels: ["Indirect", "Direct"],
                datasets: [{
                    label: 'Revenue',
                    backgroundColor: ['black', 'white'],
                    borderColor: ['black', 'white'],
                    data: data1m
                }]
            },

            // Configuration options go here
            options: {
                title: {
                display: true,
                text: 'Revenue Breakdown (1 Month)',
                fontSize: 20,
                }
            }
        });
    </script>

    <script>
        var data12m = {{breakdown[2:]}};
        var ctx = document.getElementById('Pie12m').getContext('2d');
        var chart_pie12m = new Chart(ctx, {
            // The type of chart we want to create
            type: 'pie',

            // The data for our dataset
            data: {
                labels: ["Indirect", "Direct"],
                datasets: [{
                    label: 'Revenue',
                    backgroundColor: ['black', 'white'],
                    borderColor: ['black', 'white'],
                    data: data12m
                }]
            },

            // Configuration options go here
            options: {
                title: {
                display: true,
                text: 'Revenue Breakdown (12 Months)',
                fontSize: 20,
                }
            }
        });
    </script>

{%else%}
    <p> Nothing to show here.. </p>  
{%endif%}
{% endblock%}