{% extends 'prettybase.html'%}
{% block head %}
<style>
  h1{
      text-align: center;
  }
  body{
      background-color: rgba(255, 112, 67,0.15);
}
button{
    height: 30px;
    width: 150px;
    border-radius: 5%;
    margin: 10px auto;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-size: medium;
    cursor: pointer;
    /* position:relative;
    left:40em; */
}
</style>
<title> Staff Login </title>
{% endblock%}
{% block body %}
{% if email_taken %}

<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Airline Staff Sign In</h5>
              <form class="form-signin"  action="/staff_login_go" method="POST">
                <p> Resitration successful. Please log in through the form below.</p>
                <div class="form-label-group">
                  <input type="text" name="username" class="form-control" placeholder="Username" value={{email_taken}} required autofocus>
                  <label for="email">Email</label>
                </div>
  
                <div class="form-label-group">
                  <input type="password" name="password" class="form-control" placeholder="Password" required>
                  <label for="password">Password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              </form>
            <p style="margin: 8px;"></p>
            <div class="form-signin">
              <button class="btn btn-lg btn-back btn-block text-uppercase" onclick = "window.location.href='../';">Home Page</button> 
            </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% else %}
<img align="right" style="position:absolute; left:450px" width="800px" src="../static/welcome.png">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Airline Staff Sign In</h5>
              <form class="form-signin"  action="/staff_login_go" method="POST">
                <div class="form-label-group">
                  <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                  <label for="email">Email</label>
                </div>
  
                <div class="form-label-group">
                  <input type="password" name="password" class="form-control" placeholder="Password" required>
                  <label for="password">Password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              </form>
              <p style="margin: 8px;"></p>
              <div class="form-signin">
                <button class="btn btn-lg btn-back btn-block text-uppercase" onclick = "window.location.href='../';">Home Page</button> 
              </div>
                {% if login_fail %}
                <p class="warning"> Wrong email/password combination. Please try again. <br>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endif %}

{% endblock%}